body {
	margin: 0px;
	background-color: #eee;
	font-size: 13px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}

body img{
	border:none;
}

body input {
	outline:none;
	-moz-outline-style:none;
}

body input[type=text], input[type=email], input[type=tel], input[type=url], input[type=search], input[type=button], input[type=password], input[type=submit], textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

body button {
	outline:none;
	-moz-outline-style:none;
}

body select {
	outline:none;
	-moz-outline-style:none;
	overflow:hidden;
	text-overflow:ellipsis;
}

body label {
	outline:none;
	-moz-outline-style:none;
}

body textarea {
	outline: none;
	-moz-outline-style:none;
}

body a {
	text-decoration: none;
}

body a:focus {
	outline:none;
	-moz-outline-style:none;
}

body a:active {
	outline:none;
	-moz-outline-style:none;
}

body a.delink {
	text-decoration:none !important;
	color:inherit !important;
	cursor:default !important;
}

body td {
	vertical-align: top;
	/* [disabled]text-align: left; */
}
