#shop-right-col #brand-info {
	clear: left;
	margin-left: 15px;
	width: 645px;
	margin-bottom: 20px;
	text-align: justify;
	color: #666;
}
#layout #content #brand-info h2 {
	margin-bottom: 5px;
	color: #C00;
}
#shop-left-col #brand-gender-links a {
	display: block;
	margin-top: 1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: #eee;
	text-decoration: none;
	color: #000;
}
#shop-left-col #brand-gender-links a:hover {
	color: #FFF;
	background-color: #F00;
}
#main #layout #title-area {
	background-color: #FC3;
	background-image: none;
}
#main #layout #title-area #page-title h1{
	color: #900;
}
