@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait){
.mobileCollapse{
    display: none;
    margin-bottom: 10px;
}
.mobileSectionHeader h2{
    margin: 0px 0px 10px 0px !important;
    padding: 15px 0 15px 10px;
    background-color: #069;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px !important;
    color: #fff !important;
    font-family: "open-sans-regular", Arial, sans-serif;
}

.mobileSectionHeader h2:after{
    content: "+";
    display: inline-block;
    vertical-align: middle;
    float: right;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;

}

.mobileSectionHeaderOpen h2:after{
    content: "-";
}

}

@media only screen and (max-width: 640px){
.mobileCollapse{
    display: none;
    margin-bottom: 10px;
}
.mobileSectionHeader h2{
    margin: 0px 0px 10px 0px !important;
    padding: 15px 0 15px 10px;
    background-color: #069;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px !important;
    color: #fff !important;
    font-family: "open-sans-regular", Arial, sans-serif;

}

.mobileSectionHeader h2:after{
    content: "+";
    display: inline-block;
    vertical-align: middle;
    float: right;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;

}

.mobileSectionHeaderOpen h2:after{
    content: "-";
}
}
