.shylady {
	background-image: url(../img/shy-lady.jpg);
	background-position: left 50px;
	background-repeat: no-repeat;
	height: 320px;
}
#main #layout #content h1 {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	margin-top: 30px;
	color: #000;
}
#forgotpassform input {
	width: 240px;
	margin-right: 20px;
	border: 1px solid #CCC;
	background-color: #eee;
	margin-bottom: 10px;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
}

#forgotpassform #button1 {
	background-color: #069;
	color: #FFF;
	display: block;
	border: 1px solid #036;
	font-size: 16px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	cursor: default;
	padding: 8px;
	height: auto;
	width: auto;
}
#forgotpassform #button1:hover {
	background-color: #333;
	color: #FFF;
	border: 1px solid #000;
	cursor: pointer;
}
#forgotpassform {
	margin-left: 270px;
}
