@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) {
}

@media only screen and (max-width: 640px)  {
	body #layout #page-title {margin-bottom:0px !important;}
	body #layout #page-title table h1 {float:none !important; margin:0px !important;}
	body #layout #page-title table h3 {float: none !important; padding: 0px !important; margin: 0px !important; margin-left:20px !important;}
	body #layout #myaccount-info {padding-left:20px !important; padding-right:20px !important;}
	body #myaccount-info #email-change-form input {padding:8px !important;}
}

@media only screen and (max-width: 479px) {
	body #myaccount-info #email-change-form input {width:230px !important; padding:8px !important;}
	body #myaccount-info #email-change-form input[type=checkbox] {width:auto !important; padding:0px !important;}
	body #myaccount-info #email-change-form #button1 {width:auto !important; padding:7px !important; font-size:17px !important;}
}

#myaccount-info #email-change-form {
	margin-top: 15px;
	margin-bottom: 15px;
}
#myaccount-info form label {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	display:block;
	margin-top:10px;
}
#myaccount-info form input {
	padding: 5px;
	border: 1px solid #ccc;
	display:block;
	margin-top:3px;
}

#myaccount-info form input[type=checkbox] {
	display:inline;
	margin-top:3px;
	margin-right:3px;
	margin-left:0px;
}

#myaccount-info form #button1 {
	border: 2px solid #069;
	border-radius:3px;
	background-color: #069;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
	margin-top:15px; 
}

#changed-success {
	padding:5px;
	margin-top:10px;
	background-color:#CFC;
}