@media only screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) {
	body .tableswitch table {display: block !important;}
	body .tableswitch table .headerRow {position: absolute !important; top: -9999px !important; left: -9999px !important;}
	body .tableswitch table tbody {display: block !important;}
	body .tableswitch table thead {display: block !important;}
	body .tableswitch table tr {display: block !important; width:100% !important; margin-bottom:20px !important; border-bottom:1px solid #3f6184 !important;}
	body .tableswitch table td {display: block !important; text-align:left !important; height:auto !important; border:none !important; border: 1px solid #3f6184 !important; border-bottom:none !important; position: relative !important; padding:10px !important; padding-left: 150px !important;}
	
	body .tableswitch table td:nth-of-type(2):before { content: "Order Date"; }
	body .tableswitch table td:nth-of-type(3):before { content: "Order Number"; }
	body .tableswitch table td:nth-of-type(4):before { content: "Store"; }
	body .tableswitch table td:nth-of-type(5):before { content: "Trans. Type"; }
	body .tableswitch table td:nth-of-type(6):before { content: "Status"; color:#000;}
	body .tableswitch table td:nth-of-type(7):before { content: "Order Details"; }
	body .tableswitch table td:nth-of-type(8):before { content: "Reprint Receipt"; }
	
	body .tableswitch table td:before {position: absolute !important; top: 0px !important; left: 0px !important; width: 110px !important; padding: 10px !important; white-space: nowrap !important; background-color:#69C !important; color:#FFF !important;}
	body .tableswitch table .hideMobile {display:none !important;}
	
	#instore-purchases td { width:auto !important;}
}
@media only screen and (max-width: 640px)  {
	body .tableswitch table {display: block !important;}
	body .tableswitch table .headerRow {position: absolute !important; top: -9999px !important; left: -9999px !important;}
	body .tableswitch table tbody {display: block !important;}
	body .tableswitch table thead {display: block !important;}
	body .tableswitch table tr {display: block !important; width:100% !important; margin-bottom:20px !important; border-bottom:1px solid #3f6184 !important;}
	body .tableswitch table td {display: block !important; text-align:left !important; height:auto !important; border:none !important; border: 1px solid #3f6184 !important; border-bottom:none !important; position: relative !important; padding:10px !important; padding-left: 150px !important;}
	
	body .tableswitch table td:nth-of-type(2):before { content: "Order Date"; }
	body .tableswitch table td:nth-of-type(3):before { content: "Order Number"; }
	body .tableswitch table td:nth-of-type(4):before { content: "Store"; }
	body .tableswitch table td:nth-of-type(5):before { content: "Trans. Type"; }
	body .tableswitch table td:nth-of-type(6):before { content: "Status"; color:#000;}
	body .tableswitch table td:nth-of-type(7):before { content: "Order Details"; }
	body .tableswitch table td:nth-of-type(8):before { content: "Reprint Receipt"; }
	
	body .tableswitch table td:before {position: absolute !important; top: 0px !important; left: 0px !important; width: 110px !important; padding: 10px !important; white-space: nowrap !important; background-color:#69C !important; color:#FFF !important;}
	body .tableswitch table .hideMobile {display:none !important;}
	
	#instore-purchases td { width:auto !important;}
}

@media only screen and (max-width: 479px) {
	
}


#instore-purchases {
	margin-top:10px;
	margin-bottom: 15px;
}

#instore-purchases table {
	border-collapse:collapse;
}

#instore-purchases #current {
	text-align: left;
	color: #FFF;
	background-color: #69C;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

#instore-purchases th {
	padding: 5px;
	text-align: left;
	border: 1px solid #3f6184;
	background-color: #69C;
	color:#FFF;
	font-weight:normal;
}

#instore-purchases td {
	padding: 5px;
	text-align: left;
	border: 1px solid #69C;
}


#instore-purchases td.status {
	color: #F00;
}

#instore-purchases td {
	width:60px;
}

#instore-purchases .no {
	width:8px;
}

#instore-purchases .feedback {
	width:auto;
}

#instore-purchases a i {
	color:#333;
}

#instore-purchases i {
	font-size:16px;
}