.nxt-ac-main { width: 359px !important; z-index: 9999 !important; } 
.nxt-ac-header { background-color: #f00; color: #fff !important; font-weight: normal !important; font-family: Open Sans,Helvetica,"Helvetica Neue",Arial,sans-serif !important; }
.nxt-ac-item { font-family: Open Sans,sans-serif !important; }
.nxt-ac-item .nxt-item-txt { color: #333 !important; }