#page-title .search-string-quoted {
	/* [disabled]color: #666; */
	display: block;
	font-size: 14px;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	margin-top: 3px;
}
#main #layout #title-area {
	background-color: #fff;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom: 0px;
}
#main #layout #title-area #page-title h1 {
	font-size: 24px;
	color: #000;
}
#main #layout #title-area #page-title {
	/* [disabled]margin-left: 230px; */
	/* [disabled]width: auto; */
}