/********************** Select Box Styles ******************************/
.customSelect .selectboxit{
    text-align: left;
}
.customSelect .selectboxit .selectboxit-option-icon-container{
    margin-left: 3px !important;
}


.customSelect .selectboxit-arrow-container i.selectboxit-arrow{
margin:0 auto;
font-family: "FontAwesome";
}

.customSelect .selectboxit-options{
    border-radius: 0px;
    width: auto;
}
.customSelect .selectboxit-option, .customSelect .selectboxit-optgroup-header{
    text-indent: 3px !important;
}
.customSelect .selectboxit-option .selectboxit-option-anchor{
    padding-right: 10px;
    padding-top: 2px;
}
.customSelect  span, .customSelect .selectboxit-options a {
    height: 22px;
    line-height: 22px;
}
.customSelect .selectboxit .selectboxit-arrow-container .selectboxit-arrow{
    font-size: 10px !important;
    margin: 0 auto 0 !important;
    text-align: center;
    width: 100%;
    position: relative !important;
    top: 30% !important;
}


 .customSelect .selectboxit, .customSelect .selectboxit > span{
    font-family: 'open-sans-regular', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 12px;
        height: 25px !important;
    line-height: 25px !important;

  }
.customSelect  .selectboxit{
  border-radius: 0px !important;
}

.customSelect .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{
  background-color: #00659b !important;
  background-image: none !important;
  color: #fff !important;
}

.customSelect .selectboxit-focus a{
  color: #fff !important;
}

.customSelect .selectboxit-options li a{
    font-size: 12px !important;
}

.customSelect .selectboxit-text{
    width: 80%;
}
.customSelect .selectboxit-btn{
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.customSelect .selectboxit-arrow-container{
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border-left: 1px solid #ccc;
    width: 20px !important;
    margin-left: 5px;
}

/********************** End Select Box Styles ***************************/